@{
    Layout = "_Layout";
}
<div class="title text-center my-5 py-5 bg-dark text-light">
        <h1 class='poppins-bold '> Blog Detail</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-8">
            <img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*Jcj2tPjMTaIj9Hxn4_tg1g.jpeg" class="card-img-top my-5" alt="post Image" />
            <h2 class='poppins-bold'>Title Here</h2>
            <p class='text-secondary'> <i class="bi bi-clock-history"></i> Tarih |  <i class="bi bi-tags"></i> Taglar</p>
            <p class='py-3 mb-5'>Icerik Burasi</p>
          </div>
          <div class="col-12 col-sm-4 my-5">
            Reklam Burasi Yada Son Paylasilanlar
          </div>
        </div>
      </div>
    </div>