@{
    Layout = "_Layout";
}
<div>
  <div class='bg-gif'>
    <div class='container'>
      <div class='row d-flex justify-content-between align-items-center py-5 flex-column-reverse flex-sm-row'>
        <div class='col-12 col-sm-6 text-sm-start text-center'>
          <span class='poppins-semibold text-light'>👋 Hi I am Hasamuddin AFZALI</span>
          <p class='text-light'>Hello! I'm Hasamuddin Afzali, a passionate computer engineer, full-stack web
            developer, and graphic designer based in Karabuk, Turkey. With a keen eye for detail and a love for creative
            problem-solving, I thrive in the dynamic intersection of technology and design.</p>
          <a href='/contact' class='btn btn-orange'>Contact Me</a>
        </div>
        <div class='col-12 col-sm-4 my-5 py-5 sm-p-0 sm-m-0'>
          <img src="~/img/portfolio.jpg" alt="" class='img-hero img-fluid' />
        </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row d-flex justify-content-between align-items-center py-5 flex-column flex-sm-row'>
      <div class='col-12 col-sm-4'>
        <img src="~/img/about.png" class='img-fluid' alt="" />
      </div>
      <div class='col-12 col-sm-6 text-center text-sm-start my-5 sm-m-0'>
        <h2 class='poppins-bold'>About Me</h2>
        <p>Hello! I'm Hasamuddin Afzali, a passionate computer engineer, full-stack web developer, and graphic
          designer based in Karabuk, Turkey. With a keen eye for detail and a love for creative problem-solving, I
          thrive
          in the dynamic intersection of technology and design.</p>
          <a href="#" class='btn btn-orange'>Downlod Cv</a>
      </div>
    </div>
  </div>
</div>